.form-control {
    background-color: #90CF8E;
    border-width: 0;
    color: white;
    margin: 0;
    padding: 0;
}

/* .form-floating {
    background-color: #101118;
    color: #00869e;
    background: none;
} */

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C6EDC3;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C6EDC3;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #C6EDC3;
}
.form-control:focus {
    background-color: #90CF8E;
    border-width: 0;
    color: white;
    box-shadow: none;
}
textarea:focus { 
    background-color: #101118;
    border-color: #00869e;
    color: white;
    box-shadow: none;
}

.lgFont {
    font-size: 48px;
}

.MdFont {
    font-size: 36px;
}